<section class="wrapper wrapper-content animated fadeInRight board-panel" ng-controller="boardCtrl">
    <div class="board-charts">
        <div class="tab-inline type-count" e-charts options="">
            <div>
                <span class="font-16">用户数</span><br>
                <span class="font-24">{{totalUserNum}}</span>
            </div>
            <div>
                <span class="font-16">订单数</span><br>
                <span class="font-24">{{totalOrderNum}}</span>
            </div>
            <div>
                <span class="font-16">订单总金额</span><br>
                <span class="font-24">{{totalOrderMoney}}</span>
            </div>
        </div>
    </div>
</section>