<section class="wrapper wrapper-content animated fadeInRight" ng-controller="divideCtrl">
	<div class="row">
		<div class=" col-lg-8 col-md-12 col-md-offset-2 ">
			<div class="panel panel-default">
				<div class="panel-heading text-center p-h-sm">分成区间</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<button class="btn btn-sm btn-primary" tooltip-placement="right" tooltip="新增分成区间" ng-click="FnPrice.add()"><i class="fa fa-plus"></i></button>
						</div>
						<div class="font-18 text-danger text-center">*所有输入的价格以分为单位,最大值为0时代表无限大</div>
					</div>
					<form class="form-inline m-b-md">
						<div class="form-group m-t-md" ng-repeat="item in listData">
							<div class="inline m-r-sm">{{1+$index}}.</div>
							<div class="m-r-sm inline">
								<label class="control-label m-r-sm" for="'mi'+ item.id">最小值
									<input class="form-control" type="text" id="'mi'+ item.id" ng-value="item.min" ng-blur="FnPrice.edit(1,$event, item.id)">
								</label>
								<label class="control-label m-r-sm" for="'ma'+ item.id">最大值
									<input class="form-control" type="text" id="'ma'+ item.id" ng-value="item.max" ng-blur="FnPrice.edit(2,$event, item.id)">
								</label>
								<label class="control-label m-r-sm" for="'s'+ item.id">服务商
									<input class="form-control" type="text" id="'s'+ item.id" ng-value="item.total_fee" ng-blur="FnPrice.edit(3,$event, item.id)">
								</label>
							</div>
							<div class="inline">
								<button class="btn btn-sm btn-circle btn-default m-l-md" tooltip-placement="top" tooltip="删除" ng-click="FnPrice.del(item.id)"><i class="fa fa-lg fa-trash-o"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
