<section class="wrapper wrapper-content animated fadeInRight" ng-controller="orderCtrl">
    <div class="row tabs-container table-list">
        <div class="table-options m-b-sm">

            <form name="searchForm" novalidate ng-submit="list.search()">
                <div class="col-md-1 option-item ">
                    <button type="button" class="btn btn-primary" ng-click="list.toExcel()">导出</button>
                    <button type="button" class="btn btn-primary" ng-click="list.toUExcel()">导出未审核用户</button>
                </div>
                <div class="col-md-2 option-item ">
                    <select class="selected form-control bg-white" ng-init="selectedType =1" ng-model="selectedType"
                            ng-options="x.id as x.name for x in chioceLists">
                    </select>
                </div>
                <div class="col-md-2 option-item ">
                    <input class="form-control font-12 bg-white" type="text" ng-model="city" placeholder="请输入省份全称">
                </div>
                <div class="col-md-2 option-item ">
                    <input class="form-control font-12 bg-white" type="text" ng-model="agent_name"
                           placeholder="请输入城市全称">
                </div>
                <div class="col-md-2 option-item ">
                    <input class="form-control font-12 bg-white" type="text" ng-model="oem_name" placeholder="请输入用户名称">
                </div>
                <div class="col-md-3 option-item ">
                    <div class="input-group">
                        <span class="input-group-addon font-16"><i class="fa fa-calendar"></i></span>
                        <input class="form-control font-12 bg-white" type="text" date-range-picker options="dateOption"
                               ng-model="dateRange" placeholder="可选择时间查询" readonly>
                        <span class="input-group-btn">
							<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-center">
                    <thead>
                    <tr>
                        <th>交易单号</th>
                        <th>用户</th>
                        <th>手机号</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>总价</th>
                        <th>地址</th>
                        <th>状态</th>
                        <th>交易时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in listData track by $index">
                        <td>{{item.order_sn}}</td>
                        <td>{{item.user_name}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.number}}</td>
                        <td>{{item.total_amount}}</td>
                        <td>{{item.province }}{{item.city}}{{item.area}}{{item.address}}</td>
                        <td>{{item.status == 2 ? '已审核' : item.status == 1 ? '已提交-待审核' : '待提交'}}</td>
                        <td>{{item.created_at}}</td>
                        <td>
                            <button class="btn btn-default m-xs" type="button" ng-click="list.edit($index)">修改</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="tabs-ft">
                <div ng-if="!sum" class="tabs-ft-tips"></div>
                <div class="tabs-pagination">
                    <pagination class="tabs-pagination-switch pagination-sm" ng-model="page" total-items="sum"
                                items-per-page="len" max-size="max" boundary-links="true" first-text="首页" last-text="尾页"
                                previous-text="上一页" next-text="下一页" ng-change="list.render(page)"></pagination>
                    <div class="tabs-pagination-sum">总数：{{sum}}</div>
                </div>
            </div>
        </div>
    </div>
</section>