<div class="inmodal">
    <div class="modal-header">
        <h6 class="modal-title">充值</h6>
    </div>
    <div class="modal-body p-sm">
    	<form class="form-horizontal" role="form" name="addForm" novalidate>
    		<div class="form-group">
    			<label class="col-lg-2 control-label">服务商</label>
    			<div class="col-lg-9">
                    <div class="selector block no-borders" >
                        <select class="chosen-select" chosen width="'100%'" no-results-text="'无数据'" placeholder-text-single="'请选择服务商'" ng-model="city_id" ng-options="item.id as item.name for item in oemData" >
                            <option value=""></option>
                     </select>
                    </div>
                    <span class="help-block m-b-none text-danger" ng-show="!city_id">
                        *请选择服务商
                    </span>
    			</div>
    		</div>
            <div class="form-group">
                <label class="col-lg-2 control-label">充值金额</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <input class="form-control" type="text" name="league" ng-model="league"  placeholder="*请填写加盟费" ng-pattern="/^\d*$/"  required>
                        <span class="input-group-addon">元</span>
                    </div>
                    <span class="help-block m-b-none text-danger" ng-show="addForm.league.$dirty && addForm.league.$invalid && (addForm.league.$error.pattern || addForm.league.$error.required ) ">
                        *请输入整数
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">备注</label>
                <div class="col-lg-9">
                    <textarea class="form-control" ng-model="remark"  required  placeholder="*请填写备注" ></textarea>
                </div>
            </div>
    	</form>
    </div>
    <div class="modal-footer">
    	<button type="button" class="btn btn-white" ng-click="cancel()" ng-disabled="wait">取消</button>
        <button type="button" class="btn btn-primary ladda-button" ng-disabled="addForm.$invalid" ladda="wait" data-style="zoom-in" ng-click="ok()" ng-disabled="addForm.$invalid">保存</button>
    </div>
</div>