<div class="inmodal">
    <div class="modal-header">
        <h6 class="modal-title">编辑车主信息</h6>
    </div>
    <div class="modal-body p-sm">
    	<form class="form-horizontal" role="form" name="addForm" novalidate>
    		<div class="form-group">
    			<label class="col-lg-2 control-label">名称</label>
    			<div class="col-lg-9">
                    <input class="form-control " type="text" name="name" ng-model="name"  placeholder="*请填写名称" required readonly>
                    <span class="help-block m-b-none text-danger" ng-show="addForm.name.$dirty && addForm.name.$invalid && addForm.name.$error.required">
                        *不能为空
                    </span>
    			</div>
    		</div>
            <div class="form-group">
                <label class="col-lg-2 control-label">账号</label>
                <div class="col-lg-9">
                    <input class="form-control " type="text" name="account" ng-model="account"  placeholder="*请填写账号(手机号)" ng-pattern="regPhone"  required readonly >
                    <span class="help-block m-b-none text-danger" ng-show="addForm.account.$dirty && addForm.account.$invalid && (addForm.account.$error.pattern || addForm.account.$error.required ) ">
                        *手机号格式错误
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">真实姓名</label>
                <div class="col-lg-9">
                    <input class="form-control bg-white" type="text" name="real_name" ng-model="real_name"  placeholder="*请填写真实姓名"  required  >
                    <span class="help-block m-b-none text-danger" ng-show="addForm.real_name.$dirty && addForm.real_name.$invalid && addForm.real_name.$error.required ">
                        *不能为空
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">身份证号</label>
                <div class="col-lg-9">
                    <input class="form-control bg-white" type="text" name="id_no" ng-model="id_no"  placeholder="*请填写身份证号" ng-pattern="regID"  required  >
                    <span class="help-block m-b-none text-danger" ng-show="addForm.id_no.$dirty && addForm.id_no.$invalid && (addForm.id_no.$error.pattern || addForm.id_no.$error.required ) ">
                        *身份证号格式错误
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">车牌号</label>
                <div class="col-lg-9">
                    <input class="form-control bg-white" type="text" name="car_no" ng-model="car_no"  placeholder="*请填写车牌号"  required  >
                    <span class="help-block m-b-none text-danger" ng-show="addForm.car_no.$dirty && addForm.car_no.$invalid && (addForm.car_no.$error.pattern || addForm.car_no.$error.required ) ">
                        *不能为空
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">身份证</label>
                <div class="col-lg-9">
                    <img-upload options="optionsID" placeholder="请上传身份证正反面照片" name="id_card_img" ng-model="id_card_img" required></img-upload>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">驾驶证</label>
                <div class="col-lg-9">
                    <img-upload options="optionsDriving" placeholder="请上传驾驶证照片" name="driving_img" ng-model="driving_img" required></img-upload>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">行驶证</label>
                <div class="col-lg-9">
                    <img-upload options="optionsTravel" placeholder="请上传行驶证照片" name="travel_img" ng-model="travel_img" required></img-upload>
                </div>
            </div>
    	</form>
    </div>
    <div class="modal-footer">
    	<button type="button" class="btn btn-white" ng-click="cancel()" ng-disabled="wait">取消</button>
        <button type="button" class="btn btn-primary ladda-button" ladda="wait" data-style="zoom-in" ng-click="ok()" ng-disabled="addForm.$invalid"  >保存</button>
    </div>
</div>