<section class="add-order weui-tab hide">
    <div class="wrp-bd weui-tab__panel">
        <div class="weui-cells weui-cells-pad weui-cells_form font-22">
            <div class="weui-cell goods-name" id="goods-name"></div>
            <div class="weui-cell goods-price">
                <label class="weui-label goods-price-bg">
                    <span class="price-tip">惊爆价</span>
                    <span class="price"><span class="danw">¥</span><span id="goods_price"></span></span>
                </label>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label mobile-desc">
                        <span class="tip">*</span>
                        <span>购买数量：</span>
                    </label>
                </div>
                <div class="weui-cell__bd no-borders">
                    <div class="goods-num-json">
                    </div>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="tip">*</span>
                        <span class="font-w">智能填写:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <textarea id="addr" class="textarea weui-textarea" placeholder="智能填写：张三13800138000广东省广州市花都区新华街11号"
                              rows="3"></textarea>

                </div>
            </div>
            <button class="weui-btn tip-button">智能识别</button>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label mobile-desc">
                        <span class="tip">*</span>
                        <span>收货人姓名:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input text-input" id="name" type="text" placeholder="请输入收货人姓名">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="tip">*</span>
                        <span>手机号码:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input text-input" id="mobile" type="text" placeholder="请输入手机号码">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="tip">*</span>
                        <span>省市区:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" id='city-picker' class="weui-input" value="" placeholder="省/市/区(县/乡镇)"/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="tip">*</span>
                        <span>详细地址:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <textarea id="address" class="textarea weui-textarea" placeholder="详细地址" rows="3"></textarea>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="tip">*</span>
                        <span>备注:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <textarea id="remark" class="textarea weui-textarea" placeholder="订单备注" rows="3"></textarea>
                </div>
            </div>
            <div class="weui-flex add-tip">
                <div class="weui-flex__item">
                    <span class="tip">*</span>
                    <span>请核对订单收获信息，再提交订单</span>
                </div>
            </div>
        </div>

        <button class="weui-btn button add-button">提交保存</button>
    </div>
</section>

