<section class="step-2">
  <div class="wrp">
    <img class="wrp-case" src="src/img/bg-register.jpg" >
    <div class="wrp-bd">
      <!-- rule -->
      <div class="bd-rule">
        <div class="rule-title">添加代理可获额外奖励</div>
      </div>
      <!-- form -->
      <div class="bd-form">
        <div class="form-cells">
          <div class="form-cell">
            <div class="form-cell-bd">
              <input class="form-cell-input" type="text" id="name" maxlength="8" placeholder="请输入真实姓名" />
            </div>
          </div>
          <div class="form-cell">
            <div class="form-cell-bd">
              <input class="form-cell-input" type="tel" id="phone" maxlength="11" placeholder="请输入手机号" />
            </div>
          </div>
        </div>
        <button class="weui-btn form-btn" id="onRegister">立即注册</button>
      </div>
    </div>
  </div>
</section>