<section class="edit-order">
    <div class="wrp-bd">
        <div class="weui-cells weui-cells-pad weui-cells_form font-22">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label mobile-desc">
                        <span class="tip">*</span>
                        <span>收货人姓名:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="name" type="text" placeholder="请输入收货人姓名">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="tip">*</span>
                        <span>手机号码:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="mobile" type="text" placeholder="请输入手机号码">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="tip">*</span>
                        <span>详细地址:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input type="text" id='city-picker' class="weui-input" value=""/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="tip">*</span>
                        <span>详细地址:</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <textarea id="addr" class="textarea weui-textarea" placeholder="请输入详细地址" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <button class="weui-btn button">保存</button>
</section>

