<section class="login">
    <img class="wrp-case" src="src/img/bg.png">
    <div class="wrp-bd">
        <div class="weui-cells weui-cells-pad weui-cells_form font-22">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label mobile-desc">
                        <img src="src/img/login/login-m.png"/>
                        <span>+86</span>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="account" type="number" minlength="11" placeholder="请输入手机号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <img src="src/img/login/login-pass.jpeg"/>
                    </label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="pass" type="password" minlength="6" placeholder="请输入密码">
                </div>
            </div>
        </div>
    </div>
    <button class="weui-btn login-form-btn" id="onRegister">登陆</button>
    <a href="#!/forgot" class="forgetPass" id="forgetPass">忘记密码？</a>
</section>