<section class="me-order">
    <div class="weui-tab" id="tab">
        <div class="weui-tab__panel" id="panel"></div>
    </div>
    <div class="details hide">
        <div class="details-message">
            <span id="name"></span>
            <span id="mobile"></span>
        </div>
        <div class="details-addr"></div>
        <div class="details-bot">
            <button class="details-bot-edit">修改地址</button>
            <button class="details-bot-ca">取消</button>
        </div>
    </div>
</section>