<section class="order-mgr">
    <div class="weui-tab" id="tab">
        <div class="weui-tab__panel">
            <div id="panel">
                <!--<div class="mgr-block">-->
                    <!--<div class="weui-cell item-top">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<span class="order-tip">提交订单</span>-->
                            <!--<span class="order-time">19/03 19:00</span>-->
                        <!--</div>-->
                        <!--<div class="weui-cell__ft">-->
                            <!--<button class="order-bot">已审核</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--陈文俊添加1个待审核订单-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="weui-cell item-time">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--共1单，合计2瓶，总金额：19.9元-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>