<section class="upload">
  <div class='wrp-hd'>
    <div class='weui-cell wrp-hd-cells'>
      <div class='weui-cell__bd'>服务城市</div>
      <div class='weui-cell__ft weui-cell__ft_in-access'>广州市</div>
    </div>
  </div>
  <div class='wrp-bd'>
    <div class='wrp-flex'>
      <div class='flex-title'>身份证</div>
      <div class="flex-cells">
        <div class='flex-cell'>
          <div class='item-wrp'>
            <img class='item-temp' data-id='id1' src='src/img/bg-id-1.png' />
            <div class='item-tip' data-id='id1'>点击上传</div>
          </div>
        </div>
        <div class='flex-cell'>
          <div class='item-wrp'>
            <img class='item-temp' data-id='id2' src='src/img/bg-id-2.png' />
            <div class='item-tip' data-id='id2'>点击上传</div>
          </div>
        </div>
      </div>
    </div>
    <div class='wrp-flex'>
      <div class='flex-title'>驾驶证</div>
      <div class="flex-cells">
        <div class='flex-cell'>
          <div class='item-wrp'>
            <img class='item-temp' data-id='driverLicence' src='src/img/bg-car-licence.png' />
            <div class='item-tip' data-id='driverLicence'>点击上传</div>
          </div>
        </div>
      </div>
    </div>
    <div class='wrp-flex'>
      <div class='flex-title'>行驶证</div>
      <div class="flex-cells">
        <div class='flex-cell'>
          <div class='item-wrp'>
            <img class='item-temp' data-id='carLicence' src='src/img/bg-driver-licence.png' />
            <div class='item-tip' data-id='carLicence'>点击上传</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='weui-btn-area wrp-ft'>
    <button class='weui-btn weui-btn_primary ft-btn' id="onSubmit" type='button'>提交认证</button>
  </div>
</section>