<section class="user">
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="src/img/logo.png">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title"></h4>
                </div>
            </a>
        </div>
        <div class="weui-panel__ft">
            <a href="#!/pass" class="weui-cell weui-cell_access weui-cell_link">
                <div class="weui-cell__bd user-set">设置登陆密码</div>
                <span class="weui-cell__ft"></span>
            </a>
        </div>
    </div>
    <a href="javascript:;" class="weui-btn weui-btn_primary logout-button">退出当前账号</a>
</section>