<section class="user-device-mgr">
  <div class="wrp">
    <div class="wrp-bd">
      <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
          <div class="hd-wrp">
            <div class="hd-title">设备编号</div>
            <div class="hd-desc" id="code">暂无设备</div>
            <div class="hd-thumb" id="onpreview">
              <img class="hd-thumb hide" id="qrCode" src="#" />
            </div>
          </div>
        </div>
        <div class="weui-form-preview__bd">
          <div class="weui-form-preview__item">
            <div class="weui-form-preview__label">激活时间</div>
            <div class="weui-form-preview__value" id="time">--</div>
          </div>
          <div class="weui-form-preview__item">
            <div class="weui-form-preview__label">检测次数</div>
            <div class="weui-form-preview__value" id="testTimes">0</div>
          </div>
          <div class="weui-form-preview__item">
            <div class="weui-form-preview__label">工作次数</div>
            <div class="weui-form-preview__value" id="workTimes">0</div>
          </div>
          <div class="weui-form-preview__item">
            <div class="weui-form-preview__label">信号强度</div>
            <div class="weui-form-preview__value item-sign" id="sign">0</div>
          </div>
        </div>
      </div>
      <div class="bd-btns hide" id="troubleBtn">
        <button class="weui-btn btn-primary" id="onTrouble">设备报障</button>
      </div>
    </div>
  </div>
</section>